@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

h1 {
  font-weight: normal;
  text-align: center;
}

h2 {
  padding-left: 5%;
  font-weight: normal;
}

img {
  padding-left: 5%;
  max-width: 100%;
  height: auto;
}

a {
  padding-left: 5%;
  font-weight: normal;
}

body {
  background-color: #181818;
  color: peachpuff;
  font-family: Outfit;
  font-size: larger;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  text-align: center;
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(66, 60, 60);
}
hr.rounded {
  margin: 60px;
  border-top: 2px solid peachpuff;
  border-radius: 5px;
}

footer {
  text-align: center;
}

a {
  color: #f2d4cb;
}
