@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    background-color: #181818;
    color: peachpuff;
    font-family: Outfit;
    font-size: larger;
    text-align: center;
}

a {
    color: #f2d4cb;
}

h1 {
    font-weight: 100;
}

#errText {
    display: none;
    color: crimson
}

.searchBox {
    font-family: Outfit;
    width: 75%;
    background-color: #303030;
    color: peachpuff;
    border: 2px solid peachpuff;
    border-radius: 10px;
    padding: 12px;
}

.searchBox:focus {
    border-radius: 15px;
    transition: 0.2s;
}

.statGrid {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

hr.rounded {
    margin: 60px;
    border-top: 2px solid peachpuff;
    border-radius: 5px;
}

.stats {
    font-family: Outfit;
    border-color: peachpuff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #202020;
    font-size: 22px;
    color: peachpuff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
}

.executeButtonContainer {
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
}

#executeButton {
    font-size: 2rem;
    color: peachpuff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 20%;
    border-radius: 7px;
    transition: all 500ms;
    overflow: hidden;
}

#executeButton:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-2px) scale(1.06);
}

#executeButton:focus {
    box-shadow: peachpuff 0px 0.35em 1.175em, peachpuff 0px 0.1em;
    transform: translateY(5px) scale(1.06);
}