@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    background-color: #181818;
    color: peachpuff;
    font-family: Outfit;
    font-size: larger;
    text-align: center;
}

.searchBox {
    font-family: Outfit;
    width: 75%;
    background-color: #303030;
    color: peachpuff;
    border: 2px solid peachpuff;
    border-radius: 10px;
    padding: 12px;
}

.searchBox:focus {
    border-radius: 15px;
    transition: 0.2s;
}